# Dependencies
node_modules

# Build output
dist

# Git
.git
.gitignore

# IDE
.vscode
.idea
*.swp
*.swo

# Environment files (load via docker-compose)
.env
.env.*

# Logs
*.log
logs

# Test & Coverage
coverage
.nyc_output

# Docker
Dockerfile*
docker-compose*
.docker

# Misc
*.md
LICENSE
.prettierrc
.eslintrc*
