services:
  app:
    container_name: aawiz_app_prod
    build:
      context: .
      dockerfile: Dockerfile
      target: prod
    restart: always
    environment:
      - PORT
      - NODE_ENV
      - POSTGRES_URI
      - JWT_ACCESS_TOKEN_SECRET
      - JWT_REFRESH_TOKEN_SECRET
      - JWT_ACCESS_TOKEN_TTL
      - JWT_REFRESH_TOKEN_TTL
    ports:
      - '${PORT:-3000}:${PORT:-3000}'
    depends_on:
      postgres:
        condition: service_healthy
    deploy:
      resources:
        limits:
          cpus: '1'
          memory: 512M
        reservations:
          cpus: '0.25'
          memory: 256M
    logging:
      driver: 'json-file'
      options:
        max-size: '10m'
        max-file: '3'
    networks:
      - aawiz_network
  postgres:
    container_name: aawiz_postgres_prod
    restart: always

    deploy:
      resources:
        limits:
          cpus: '1'
          memory: 1G
        reservations:
          cpus: '0.5'
          memory: 512M
    logging:
      driver: 'json-file'
      options:
        max-size: '10m'
        max-file: '3'

networks:
  aawiz_network:
    driver: bridge
volumes:
  postgres_data:
